<title>Game</title>
<body style="background-color: blue;">
	<div style="text-align: center;">
		<div style="background-color: black;">
			<font color="red">
				<h1>
					<b>
						Snake Game
					</b>
				</h1>
			</font>		
		</div>
	</div>
	<canvas id="gc" width="400" height="400" style="margin-left: 100;"></canvas>
	<script>
		window.onload=function() {
			canv=document.getElementById("gc");
			ctx=canv.getContext("2d");
			document.addEventListener("keydown",keyPush);
			setInterval(game,3500/15);
		}
		px=py=10;
		gs=tc=20;
		ax=ay=15;
		xv=yv=0;
		trail=[];
		tail = 5;
		function game() {
			px+=xv;
			py+=yv;
			if(px<0) {
				px= tc-1;
			}
			if(px>tc-1) {
				px= 0;
			}
			if(py<0) {
				py= tc-1;
			}
			if(py>tc-1) {
				py= 0;
			}
			ctx.fillStyle="black";
			ctx.fillRect(0,0,canv.width,canv.height);

			ctx.fillStyle="lime";
			for(var i=0;i<trail.length;i++) {
				ctx.fillRect(trail[i].x*gs,trail[i].y*gs,gs-2,gs-2);
				if(trail[i].x==px && trail[i].y==py) {
					tail = 5;
				}
			}
			trail.push({x:px,y:py});
			while(trail.length>tail) {
				trail.shift();
			}

			if(ax==px && ay==py) {
				tail++;
				ax=Math.floor(Math.random()*tc);
				ay=Math.floor(Math.random()*tc);
			}
			ctx.fillStyle="red";
			ctx.fillRect(ax*gs,ay*gs,gs-2,gs-2);
		}
		function keyPush(evt) {
			switch(evt.keyCode) {
				case 37:
				xv=-1;yv=0;
				break;
				case 38:
				xv=0;yv=-1;
				break;
				case 39:
				xv=1;yv=0;
				break;
				case 40:
				xv=0;yv=1;
				break;
			}
		}
	</script>
	<div style="margin-left: 600; margin-top: -400;">
		<font>
			<h3>
				Tata Cara :
			</h3>
			<p>
				<br>
				1. Ambil/makan kotak berwarna merah untuk menambah ukuran badan ular. <br>
				2. Jika ular menghantam badannya sendiri maka badan ular kembali ke ukuran semula menjadi 5 kotak. <br>
				3. Badan ular juga akan kembali ke ukuran semula jika ular bergerak melawan arah jalannya sehingga<br> &nbsp &nbsp menumpuk badannya sendiri. <br>
				4. Ular akan muncul dari sudut baliknya apabila ular melewati batas area. <br>
				5. Game akan berjalan terus tanpa henti kecuali halaman ini di refresh.
			</p>
		</font>
		<h3>
			<a href="index.html" style="background-color: black" ><font color="red">kembali</font></a>
		</h3>
	</div>

	<!--   file:///home/aye/Documents/Game/index.html   -->
</body>