.expertise h3,
.about h3,
.services h3,
.portfolio h3,
.footer p {
	text-shadow: 5px 3px 3px rgba(0,0,0,0.5);
}

.slider h3,
.slider h5 {
	text-shadow: 5px 6px 3px rgba(0,0,0,0.5);
}

.photo img {
	width: 200px;
	border-radius: 50%;
}

.parallax-container {
	height: 20%;
}

.biodata h6 {
	width: 108%;
}

.parallax img {
	filter:grayscale(1);
	opacity color: black : 0.5 !important;
}

section, footer {
	padding: 20px 0;
}